In [2]:
filepath1 = 'Dataset/epinion_preprocessed.csv'
import pandas as pd
df1 = pd.read_csv(filepath1)
df1['user'] = df1['user'].str.lower()
df1.count()

item      188484
paid      188296
review    188484
stars     188484
time      188484
user      188483
dtype: int64

In [3]:
df1.head()

,item,paid,review,stars,time,user
0,pr-Sony_KV_36FS12__Standard_Televisions,1199,well when i graduated from college it didnt ta...,5,1012262400,pyros7
1,Minolta_QMS_PagePro_1250E_Printers,260,i got this printer from minolta as a warranty ...,4,1027296000,fgb59h
2,Sony_VAIO_PCG_K45_P4_538_3_2GHz_1MB_L2_533MHz_...,1800,although i love my vaio especially the gorgeou...,2,1201305600,bucho_ky
3,Sony_VAIO_PCG_K45_P4_538_3_2GHz_1MB_L2_533MHz_...,1000,this is my first laptop and i bought it about ...,4,1118016000,redp944
4,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7

In [4]:
df1.drop_duplicates(inplace = True)

In [5]:
df1.count()

item      188433
paid      188245
review    188433
stars     188433
time      188433
user      188432
dtype: int64

In [6]:
filepath2 = 'Dataset/network_trust_preprocessed.csv'
df2 = pd.read_csv(filepath2)
df2['user1'] = df2['user1'].str.lower()
df2['user2'] = df2['user2'].str.lower()

In [7]:
df2.count()

user1    691872
trust    691892
user2    691568
dtype: int64

In [8]:
df2.drop_duplicates(inplace = True)

In [9]:
print(df2.count())
print(df2.head())

user1    543381
trust    543401
user2    543153
dtype: int64
           user1  trust        user2
0  lavenderfruit  trust   kristinafh
1      shippo225  trust      sallyg8
2      aryeh7000  trust      liteair
3       chiquita  trust   magenta321
4   jeffsullivan  trust  rpllingrock

In [10]:
result = pd.merge(df1, df2, how='left', left_on='user', right_on='user1')
result1 = pd.merge(df1, df2, how='left', left_on='user', right_on='user2')

In [11]:
result.head()

,item,paid,review,stars,time,user,user1,trust,user2
0,pr-Sony_KV_36FS12__Standard_Televisions,1199,well when i graduated from college it didnt ta...,5,1012262400,pyros7,NaN,NaN,NaN
1,Minolta_QMS_PagePro_1250E_Printers,260,i got this printer from minolta as a warranty ...,4,1027296000,fgb59h,NaN,NaN,NaN
2,Sony_VAIO_PCG_K45_P4_538_3_2GHz_1MB_L2_533MHz_...,1800,although i love my vaio especially the gorgeou...,2,1201305600,bucho_ky,NaN,NaN,NaN
3,Sony_VAIO_PCG_K45_P4_538_3_2GHz_1MB_L2_533MHz_...,1000,this is my first laptop and i bought it about ...,4,1118016000,redp944,NaN,NaN,NaN
4,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,cyndia

In [12]:
result1.head()

,item,paid,review,stars,time,user,user1,trust,user2
0,pr-Sony_KV_36FS12__Standard_Televisions,1199,well when i graduated from college it didnt ta...,5,1012262400,pyros7,NaN,NaN,NaN
1,Minolta_QMS_PagePro_1250E_Printers,260,i got this printer from minolta as a warranty ...,4,1027296000,fgb59h,NaN,NaN,NaN
2,Sony_VAIO_PCG_K45_P4_538_3_2GHz_1MB_L2_533MHz_...,1800,although i love my vaio especially the gorgeou...,2,1201305600,bucho_ky,NaN,NaN,NaN
3,Sony_VAIO_PCG_K45_P4_538_3_2GHz_1MB_L2_533MHz_...,1000,this is my first laptop and i bought it about ...,4,1118016000,redp944,NaN,NaN,NaN
4,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,amyk49,trust,spongebag7

In [13]:
result = result.append(result1)

In [14]:
result.head(50)

,item,paid,review,stars,time,user,user1,trust,user2
0,pr-Sony_KV_36FS12__Standard_Televisions,1199,well when i graduated from college it didnt ta...,5,1012262400,pyros7,NaN,NaN,NaN
1,Minolta_QMS_PagePro_1250E_Printers,260,i got this printer from minolta as a warranty ...,4,1027296000,fgb59h,NaN,NaN,NaN
2,Sony_VAIO_PCG_K45_P4_538_3_2GHz_1MB_L2_533MHz_...,1800,although i love my vaio especially the gorgeou...,2,1201305600,bucho_ky,NaN,NaN,NaN
3,Sony_VAIO_PCG_K45_P4_538_3_2GHz_1MB_L2_533MHz_...,1000,this is my first laptop and i bought it about ...,4,1118016000,redp944,NaN,NaN,NaN
4,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,cyndia
5,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,amyk49
6,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,rated-r
7,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,trailhound
8,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,megugrrrl
9,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,jbrd
10,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,blindsider
11,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,franks989
12,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,bryan_carey
13,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,42english
14,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,melissasrn
15,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,lilvoyce
16,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,monnie1976
17,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,javelina
18,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,surferdude7
19,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,johnusmaximus1
20,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,gr8ful
21,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,bruguru
22,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,freak369
23,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,davidmanning
24,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,seacow
25,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,wsmunch
26,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,gooberpyle
27,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,chiminou
28,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,whisperscream
29,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,petey_2
30,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,don_krider
31,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,twix109
32,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,cntaur5
33,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,rcaarmsc07
34,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,dr.p
35,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,tombarnes
36,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,teamfreak16
37,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,dlstewart
38,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,symbiosis
39,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,matta75
40,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,popsrocks
41,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,shaky_jake
42,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,cyndicm
43,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,speeddemon531
44,pr-Sony_KV_36FS12__Standard_Televisions,1350,out of the box its an impressive television it...,4,982281600,daleb,daleb,trust,walksasone
45,pr-Sony_KV_36FS12__Standard_Televisions,1350,out of the box its an impressive television it...,4,982281600,daleb,daleb,trust,snowhite76
46,pr-Sony_KV_36FS12__Standard_Televisions,1350,out of the box its an impressive television it...,4,982281600,daleb,daleb,trust,dkozin
47,pr-Sony_KV_36FS12__Standard_Televisions,1350,out of the box its an impressive television it...,4,982281600,daleb,daleb,trust,jkester
48,pr-Sony_KV_36FS12__Standard_Televisions,1350,out of the box its an impressive television it...,4,982281600,daleb,daleb,trust,thesss
49,pr-Sony_KV_36FS12__Standard_Televisions,1200,when i first bought this tv i was pleased with...,1,1109116800,tarsyn,NaN,NaN,NaN

In [15]:
result.drop_duplicates(inplace = True)

In [16]:
result.count()

item      3652757
paid      3645472
review    3652757
stars     3652757
time      3652757
user      3652489
user1     3500658
trust     3500681
user2     3500201
dtype: int64

In [17]:
result['user2'].nunique()

37256

In [18]:
result['user1'].nunique()

33325

In [19]:
result['user'].nunique()

116259

In [20]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html

result.dropna(subset=['user1', 'trust', 'user2'], inplace = True)

In [21]:
type(result)

pandas.core.frame.DataFrame

In [22]:
result.count()

item      3500178
paid      3493012
review    3500178
stars     3500178
time      3500178
user      3500178
user1     3500178
trust     3500178
user2     3500178
dtype: int64

In [23]:
result.head()

,item,paid,review,stars,time,user,user1,trust,user2
4,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,cyndia
5,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,amyk49
6,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,rated-r
7,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,trailhound
8,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trust,megugrrrl

In [24]:
result.to_csv('Dataset/epinion_network_trust.csv')

In [25]:
filepath3 = 'Dataset/network_trustedby_preprocessed.csv'
df3 = pd.read_csv(filepath3)
df3['user1'] = df3['user1'].str.lower()
df3['user2'] = df3['user2'].str.lower()
df3.count()

user1        691875
trustedby    691895
user2        691570
dtype: int64

In [26]:
df3.drop_duplicates(inplace = True)

In [27]:
print(df3.count())
print(df3.head())

user1        543383
trustedby    543403
user2        543154
dtype: int64
           user1  trustedby       user2
0  lavenderfruit  trustedby  kristinafh
1       rosalyce  trustedby      cindee
2        sharkie  trustedby      theeye
3       chiquita  trustedby  magenta321
4       valerieg  trustedby   jabbrjwz2

In [28]:
result = pd.merge(df1, df3, how='left', left_on='user', right_on='user1')
result1 = pd.merge(df1, df3, how='left', left_on='user', right_on='user2')

In [29]:
result = result.append(result1)

In [30]:
result.head()

,item,paid,review,stars,time,user,user1,trustedby,user2
0,pr-Sony_KV_36FS12__Standard_Televisions,1199,well when i graduated from college it didnt ta...,5,1012262400,pyros7,NaN,NaN,NaN
1,Minolta_QMS_PagePro_1250E_Printers,260,i got this printer from minolta as a warranty ...,4,1027296000,fgb59h,NaN,NaN,NaN
2,Sony_VAIO_PCG_K45_P4_538_3_2GHz_1MB_L2_533MHz_...,1800,although i love my vaio especially the gorgeou...,2,1201305600,bucho_ky,NaN,NaN,NaN
3,Sony_VAIO_PCG_K45_P4_538_3_2GHz_1MB_L2_533MHz_...,1000,this is my first laptop and i bought it about ...,4,1118016000,redp944,NaN,NaN,NaN
4,pr-Durabrand_CD-85_Personal_CD_Player,20,just recently my sony dej001 walkman died on m...,4,1149292800,spongebag7,spongebag7,trustedby,rcaarmsc07

In [31]:
result.drop_duplicates(inplace = True)

In [32]:
result.dropna(subset=['user1', 'trustedby', 'user2'], inplace = True)

In [33]:
result.to_csv('Dataset/epinion_network_trustedby.csv')

In [34]:
result.count()

item         3500183
paid         3493017
review       3500183
stars        3500183
time         3500183
user         3500183
user1        3500183
trustedby    3500183
user2        3500183
dtype: int64

In [35]:
df_new = result[['user2', 'user1']]

In [37]:
df_new.count()

user2    3500183
user1    3500183
dtype: int64

In [38]:
df_new.head()

           user2       user1
4     rcaarmsc07  spongebag7
5     blindsider  spongebag7
6        bruguru  spongebag7
7  speeddemon531  spongebag7
8         cyndia  spongebag7

In [39]:
df_new.drop_duplicates(inplace = True)

/Users/shalu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [40]:
df_new.columns = ['user1', 'user2']

In [42]:
df_new.count()

user1    359295
user2    359295
dtype: int64

In [43]:
path = 'Dataset/epinion_network_trust.csv'
import pandas as pd
df = pd.read_csv(path)

In [44]:
df = df[['user1', 'user2']]

In [45]:
df.drop_duplicates(inplace = True)

In [46]:
df.count()

user1    359294
user2    359294
dtype: int64

In [47]:
#df_new = df_new.append(df[['user1','user2']])
df_new = pd.concat([df_new, df])

In [48]:
df_new.count()

user1    718589
user2    718589
dtype: int64

In [49]:
df_new.drop_duplicates(inplace = True)

In [50]:
df_new.count()

user1    566241
user2    566241
dtype: int64

In [51]:
df_new.to_csv('Dataset/epinion_network_trust_new.csv', index = False)

In [52]:
df_new[df_new['user1'].str.isalnum() ==False].to_csv('Dataset/check_user_entry.csv', index = False)

In [53]:
df_new[df_new['user1'].str.isdigit() ==True].head(10)

         user1      user2
106     401402    bhweb22
634     401402   briancam
2925      1360   jpalacio
3412    401402  beavis612
4274      2463    mszorak
4428  10486300    mszorak
5388    582974    mszorak
5429      3517    mszorak
5928      3830        vi9
5930    401402        vi9